main>.container {
    padding: 60px 15px 0;
}

.f-family-oswald{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}

.font-color-brown{
    color: #AC9880;
}

.heightvh{
    height: 75vh;
}

@media screen and (max-width:1500px){
    .heightvh{
        height: auto;
    }
}