main>.container {
    padding: 60px 15px 0;
}

.f-family-oswald{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

.f-family-oswald-40{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.contact-form-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.font-color-brown{
    color: #AC9880;
}

.bg-brown{
    background-color: #AC9880;
}

.heightvh{
    height: 75vh;
}

@media screen and (max-width:1500px){
    .heightvh{
        height: auto;
    }
}

.card-project-shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
