main>.container {
    padding: 60px 15px 0;
}

body{
    font-family: 'Protest Riot', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #ECE8E3;
}

.bg-soft{
    background-color: #ECE8E3;
}
