body{
    background-color: #f7f8fc;
}

.nav-menu{
    display: flex;
    padding-top: 15px;
}

.nav-bar{
    display: flex;
    list-style-type: none;
}

li{
    margin: 5px;
    text-transform: capitalize;
}

.nav-item{
    text-decoration: none;
    text-transform: uppercase;
}

a{
    color: black;
}

a:hover{
    color:white;
}

.intro-section{
    padding-left: 32px;
    margin-top: 150px;
    height: 75vh;
}

.intro-message{
    font-size: 4rem;
    margin:0;
}

@media (max-width:610px){
    .intro-message{
        font-size: 3rem;

    }
}

.sotware-developer{
    color:blueviolet; 
    font-weight: bold;
}

.btn-intro{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-project{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color:purple;
    background-color: white;
    border:none;
    box-shadow: 1px 2px 2px 2px rgba(141, 86, 218, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-project:hover{
    color:#d6bbb0;
}

.projects-section{
    background-color: #f7f8fc;
    height: 95vh;
    overflow: auto;

}

.text-item{
    letter-spacing: 3.5px;
    text-align: center;
    color:#4d4d4d;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: bold;
}

.all-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-detail{
    width: 35%;
    padding-left: 32px;
}

.project-body{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

@media (max-width:900px){
    .project-detail{
        display: none;
    }

    .project-body{
        width: 100%;
    }
}

@media (min-width:900px){
    .project-inside{
        display: none !important;
    }

}

@media (max-width:900px){
    .header-p{
        display: none !important;
    }

}


.project{
    width: 200px;
    height: 200px;
    background-color: #f7f8fc;
    margin:3px;
    box-shadow: 1px 1px 1px 1px rgba(141, 86, 218, 0.5);
}

.project:hover{
    opacity: 0.5;
}

@media (max-width:875px){
    .project:hover{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:560px){
    .project{
        width: 100%;
    }
}


#project1{
    background:url(/img/bhL3yZxM.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#project2{
    background:url(/img/dogoimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#project3{
    background:url(/img/bhL3yZxM.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#project4{
    background:url(/img/bhL3yZxM.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#project5{
    background:url(/img/bhL3yZxM.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#project6{
    background:url(/img/bhL3yZxM.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#project7{
    background:url(/img/bhL3yZxM.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#project8{
    background:url(/img/bhL3yZxM.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-inside{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.project-link{
    width: 75%;
    height: 100%;
    text-decoration: none;
    text-align: center;
}

.project-name{
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.p-name{
    width: 100%;
    display: flex;
    justify-content: center;
    background:linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.5))

}

.nav-item-link:hover{
    color:purple;
}

.about-me-section{
    height: 90vh;
    padding-left: 32px;
    padding-right: 32px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;

}

.about-hr{
    width: 70px;
    height: 8px;
    background-color: purple;
}

.about-container{
    width: 100%;
    height: 75%;
    padding-top: 20px;
    padding-bottom: 25px;

}

.about-details{
    width: 100%;
    height: 100%;
    display: flex;
}

.about-detail-me{
    width: 40%;
    height: 100%;
    text-align: center;
    overflow: auto;
}

.about-hire-me{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:845px){
    .about-hire-me{
        display: none;
    }

    .about-detail-me{
        width: 100%;
    }
}

.hire-me-about-link{
    font-size: 10rem;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    color: #f0f0f2;
}
#link-about-hire-me{
    text-decoration: none;
}

.hire-me-about-link:hover{
    color:purple;
}

.me{
    color: purple;
}

#contact-me-section{
    width: 100%;
    height: 90vh;
    background-color: white;
}

.contact-me-header{
    color:#4d4d4d;
    width: 100%;
    height: auto;
    padding-left: 32px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.h-bold{
    font-weight: bold;
}

.contact-form-container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: auto;
}

.contact-form{
    width: 30%;
    height: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background:linear-gradient(to top, rgba(255,255,255,0.8),rgba(128, 0, 128, 0.7));
    margin-right: 50px;

}

@media (max-width:1181px){
    .contact-form-container{
        justify-content: center;
    }
    .contact-form{
        width: 50%;
    }
    
}

@media (max-width:1036px){
    .contact-form{
        width: 50%;
    }
}

@media (max-width:661px){
    .contact-form{
        width: 75%;
    }
}

@media (max-width:490px){
    .contact-form{
        width: 100%;
        margin-right: 0;
    }
}

.contact-text-area{
    height: 200px;
}

.btn-purple{
    background-color: purple;
    color: white;
}

.btn-purple:hover{
    background-color: rgb(133, 74, 133);
}

.btn-outline-purple{
    border:solid 1px purple;
}
.btn-outline-purple:hover{
    background-color: rgb(133, 74, 133);
}

.input-purple{
    background-color: #f1e4f1;
}

.btns-contact-form{
    display: flex;
    justify-content: end;
}

#link-project-description{
    color:purple;
}

#descrip{
    margin-top: 16px;
}
