body{
    background-color: #f7f8fc;
}

.nav-menu{
    display: flex;
    padding-top: 15px;
}

.nav-bar{
    display: flex;
    list-style-type: none;
}

li{
    margin: 5px;
    text-transform: capitalize;
}

.nav-item{
    text-decoration: none;
    text-transform: uppercase;
}

a{
    color: black;
}

a:hover{
    color:white;
}

.intro-section{
    padding-left: 32px;
    margin-top: 200px;
    height: 75vh;
}

.sotware-developer{
    color:blueviolet;   
}

.btn-intro{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-project{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color:purple;
    background-color: white;
    border:none;
    box-shadow: 1px 2px 2px 2px rgba(141, 86, 218, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-project:hover{
    color:#d6bbb0;
}

.projects-section{
    background-color: white;
    height: 90vh;
    overflow: auto;
}

.text-item{
    letter-spacing: 3.5px;
    text-align: center;
    color:#8f5740;
    padding-top: 50px;
    padding-bottom: 10px;
}

.all-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-detail{
    width: 35%;
    padding-left: 32px;
}

.project-body{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

@media (max-width:900px){
    .project-detail{
        display: none;
    }

    .project-body{
        width: 100%;
    }
}

.project{
    width: 200px;
    height: 200px;
    background-color: #f7f8fc;
    margin:3px;
    box-shadow: 1px 1px 1px 1px rgba(141, 86, 218, 0.5);

}

.project:hover{
    width: 250px;
    height: 250px;
}

@media (max-width:875px){
    .project:hover{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:560px){
    .project{
        width: 100%;
    }
}