body{
    background-color: #f7f8fc;
}

.success-section{
    width: 100%;
    height: 90vh;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-header{
    font-weight: bold;
    font-size: 4rem;
    color: #4d4d4d;
}

.success-container{
    text-align: center;
}

.sucess-sub-header{
    color: #c183c1;
}

.so{
    color: purple;
}

.footer{
    width: 100%;
    height: auto;
}

.nav-menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
}

.nav-bar{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    list-style-type: none;
}

li{
    margin: 5px;
}

.nav-item{
    text-decoration: none;
    text-transform: uppercase;
    color: #4d4d4d;
}

.nav-item-link:hover{
    color:purple;
}


